<h1><%= @restaurant.title %></h1>

<h3>留言</h3>
<%= form_for(@comment, url: restaurant_comments_path(@restaurant)) do |form| %>
  <div class="field">
    <%= form.label :content, '留言內容' %>
    <%= form.text_area :content %>
  </div>
  <%= form.submit %>
<% end %>

<% @comments.each do |comment| %>
  <li><%= comment.content %></li>
<% end %>
